@import '../../styles/general';

.adistec-select-field{
  position: relative;





  button{
    top:10px !important;
    right:-5px !important;
    fill:#CCC !important;
    @include transitionAll;

    &:hover{
      fill:$adistecBlue !important;
    }
  }

  .clear-button{
    margin-top: 29px;
    height: 50%;
    position: absolute;
    right:10px;
    top:0px !important;
    color:#CCC;
    cursor:pointer;
    font-size:12px;
    z-index: 10;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &:hover{
      color:$adistecBlue;
    }
  }

  div.icon-mode div div div{
    @include forceMaterialIconStyles();
  }

  .select--multi-floatinglabel{
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 29px;
    z-index: 1;
    font-size: 12px;
    color: #BBB;
  }
  .item-selected{
    .select--multi-floatinglabel{
      top: 6px;
      font-size: 10px;
    }
  }

  /* Multi Select Adistec */
  .Select{
    outline:none !important;
    /*z-index: 3;*/

    .Select-control{
      z-index:3 !important;
      outline:none !important;
      margin-top: 21px;
      cursor:pointer;
      border: none;
      border-bottom: 1px solid rgb(224, 224, 224);
      border-radius: 0px;
      height: 33px;
      background-color:transparent;

      .Select-value,
      .Select-placeholder{
        padding-left:0px;
      }
      .Select-placeholder{
        font-size:$smFont;
      }

      &:after{
          content:'';
          border-top: none rgb(244, 67, 54);
          border-left: none rgb(244, 67, 54);
          border-right: none rgb(244, 67, 54);
          border-bottom: 2px solid rgb(244, 67, 54);
          bottom: -1px;
          left:0px;
          box-sizing: content-box;
          margin: 0px;
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          opacity:0px;
        }
    }

    &.Select--multi{

    }

    &.is-searchable{
      .Select-control{
        overflow-y: visible;
      }
      .Select-menu-outer{
        margin-top:40px;
        border-top:none;
      }
      &.is-open{
        .Select-input{
          margin: 0;
          margin-top:1px !important;
          background-color:#FFFFFF;
          display:inline-block;
          position: absolute;
          left: 0;
          right: 0;
          border-left: 1px solid #DDD;
          border-right: 1px solid #DDD;
          top: 100%;
          z-index: 6;
          padding: 5px;
          height: 42px;
        }
      }
    }


    &.error{
      .Select-control{
        /*border-bottom:2px solid rgb(244, 67, 54);*/
        &:after{          
          transform: scaleX(1);
          opacity:1;
        }
      }

      &+span.error{
        font-size: 12px;
        line-height: 12px;
        color: rgb(244, 67, 54);
      }
    }

    .Select-menu-outer{
      &>div{
        position:relative !important;
      }
    }
    .Select-input{
      height: 32px;
      padding-left:0px;
    }
    .Select-clear{
      font-size:0px;

      &:before{
        content: "\f00d";
        font-size: 12px;
        font-family: 'FontAwesome';
        color:#CCC;
      }

      &:hover:before{
        color:$adistecBlue;
      }
    }
    .Select-arrow-zone{
      width: 13px;
      padding-right: 0px;
    }
    .Select-arrow {
      border-color: #CCC transparent transparent;

      &:hover{
        border-color: $adistecBlue transparent transparent;
      }
    }
    .Select-menu-outer{
      z-index: 9;
    }
    &.is-focused,
    &.has-value{
        &:not(.error){
        .Select-control{
          box-shadow: none;
          border-bottom: solid 2px $adistecBlue;

          .Select-placeholder{
            display:none;
          }
          a.Select-value-label{
            color: #333;
            text-decoration: none;
          }
        }
      }
      & + .helper-placeholder{
        transform: scale(0.75) translate(0px, -28px);
        display:block;
      }

      .Select-control{
        background-color:transparent !important;
      }
    }
    &.is-open{
      .Select-arrow {
        border-color: transparent transparent #CCC;

        &:hover{
          border-color: transparent transparent $adistecBlue;
        }
      }
    }
    .has-value{
      .Select-control{
        border-bottom: 2px solid $adistecBlue;
      }
    }
  }

}