@import './responsive.scss';

/* --- VARS --- */
$defaultFontStack : 'Open Sans', Helvetica, Arial, sans-serif;

/* Font Sizes */
$xsmFont : 9px;
$smFont : 12px;
$mdFont : 16px;
$lgFont : 20px;

/* Colors */
$adistecBlue : #005fab; /*0,95,171*/
$adistecLightBlue : #008fcb; /*0,143,203*/
$adistecPaleBlue : lightblue; /*173,216,230*/
$adistecBlueHovered:lighten($adistecBlue,8);

$flatLightBlue: $adistecBlueHovered;
$flatGreen:#2ECC71;
$flatYellow:#f1c40f;
$flatRed: #e74c3c;
$flatOrange:#f39c12;
$flatGrey:#7f8c8d;

/* Dimensions */
$headerHeight : 74px;
$footerHeight : 50px;

@mixin buttonSizeSm{
  font-size: 13px;
  padding: 3px 10px;
}

/* Animations */
@mixin transitionAll(){
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

@mixin transitionSlow(){
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

/*Mixins */


@mixin fontAwesomeStyles($code){
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $code;
}

@mixin uppercase_label{
  text-transform:uppercase;
  color:#999999;
  font-size:12px;
}

@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

@mixin card_styled($color){
  @include border_radius(3px);
  @include box_shadow(1);
  background-color:$color;
}

/* Resets */
@mixin removeBoxShadow{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

@mixin noselecthighlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
*{
  outline:none;
}

ul{
  padding-left:0px;
}
ul, ul li{
  list-style-type:none;
}



/* --- UI --- */
a{
  color:$adistecLightBlue;
}

.register-form {
  margin-left: 8.3333333333%;
  width: 83.3333333333%;
  left: auto;
  right: auto;
}


/* Sticky footer */
html, body, #app {
  height: 100%;
}
.appWrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main-wrapper{
  flex: 1;
}


/* Header */

.brand-logo.centered{
  width: 100%;
  text-align: center;
}


.korm-nav {
  background-color: #fafafa !important;
}
.korm-logo {
  -webkit-user-select: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
nav{
  ul a {
    color: $adistecBlue;
    font-weight: 700;
    padding: 0 20px;

    &:hover{
      color: #FFF;
      background-color: $adistecBlue;
    }
  }

  ul a.btn{
    margin-right:0px;
  }

  li.username{
    border-left: solid 1px #DDD;
    color: #999;
    padding: 0px 0px 0px 20px;
  }
}

.btn{
  background-color: $adistecBlue;
  border-radius: 0px;
  text-transform: none;

  &:hover,
  &:focus{
    background-color: $adistecLightBlue;
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $adistecBlue;
}


/* Margins, Paddings */
.mt0{
  margin-top:0px;
}
.mt15{
  margin-top:15px;
}
.mb0{
  margin-bottom:0px !important;
}
.mb15{
  margin-bottom:15px;
}

/* Footer */

/*
html, body, #app, #main-wrapper {
  height: 100%;
  min-height: 100%;
}
*/

body {
  margin: 0;
}


.main-wrapper{
  min-height: 100%;
  margin-bottom: 0-$footerHeight;
  background-color:#FAFAFA;
}
.main-wrapper:after {
  content: "";
  display: block;
}



.section-title-container{
  height:70px;

  &.has-side{
    .section-title{
      float:left;
    }
    .title-side{
      float:right;
      padding: 6px 0px;

      em{
        font-style:normal;
        margin-right:10px;
      }

      .search-box{
        margin-top:10px;
      }
    }
  }

  background-color: #EEEEEE;
  width:100%;

  .container{

    h4{
      color:#666666;
      font-size:20px;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 8px;
    }
    .section-title-buttons{
      float:right;
      text-align: right;
      padding-top: 16px;

      &.hidden{
        display:none;
      }
    }

    .open-drawer{
      border:none;
      background-color: transparent;
      padding-top: 8px;

      i{
        padding-top: 7px;
        color:#666;
      }
    }

    h4,
    .section-title-buttons,
    button{
      display: inline-block;
      vertical-align: middle;

      @include sm-only{
        width:100%;
      }

    }

  }
}

.static-input-label{
  color: #999999;
  font-size: $smFont;
  margin-top: 10px;
  display: block;
}

/* Tables */
table {
  margin-bottom: 40px;
}
table th{
  background-color: #FAFAFA;
  border: solid 1px #EEE;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
}
table td{
  padding: 15px 15px;
}

.btn{
  line-height:34px;
}


/* Forms and Buttons */

form label.error{
  color:red;
  position: relative;
  float: left;
  left: 0;
  top: 0;
  font-size: .8rem;
  padding: 0 0.75rem;
}

.login-form-container,
.card-padding{
  padding: 30px 20px
}

@mixin flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LoginPage */
.main-wrapper{
  @include flex-center-center;

  &.login-screen{
    background-color:#FAFAFA;
  }

  .brand-logo{
    display: block;
  }

  .login-form-conainer{
    display:inline-block;
    width: 400px;
    padding: 30px 20px;
    vertical-align: top;
  }

  .login-form-conainer + .login-form-conainer{
    margin-left:40px;
  }
}

[type="checkbox"].filled-in:checked + label:after{
  border-color: $adistecBlue;
  background-color: $adistecBlue;
}

.blue {
  background-color: $adistecBlue !important;
}
.bluefont{
  color: $adistecBlue;
}

.btn-flat {
  color: $adistecBlue !important;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: $adistecPaleBlue;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: $adistecBlue;
}

.korm-content {
  display: inline;
}

.korm-input {
  width: 45%;
  display: inline-block;
}

.korm-row {
  cursor: pointer;
}

.korm-edit-delete {
  text-align: left;
  cursor: pointer;
  color:$adistecBlue !important;
}

.fixed-action-btn {
  position: inherit !important;
}

.dropdown-btn {
  position: inherit !important;
  height: 0;
  display: -webkit-box;
  padding-left: 40px;
}

/* Type */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html,
html body,
html body div{
  font-family: $defaultFontStack !important;
}
h4{
  font-size:1.5rem;
  font-weight: 700;
  color: $adistecBlue;
  padding: 0px;

  &.section-title{
    padding:10px 0px;
    text-transform: uppercase;
  }
}
strong{
  font-weight: 700;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align:right !important;
}

.success-modal-body{
  border:solid 1px red;
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: $headerHeight;
    line-height: $headerHeight;
  }
  .navbar-fixed{
    height: $headerHeight;
  }
}

input.invalid + label.active {
  width: 100%;
}


#main-wrapper {
  background-color:#F5F5F5;
}
main{
  overflow-y: auto;
}
#content {
}
footer {
  height: 50px;
}


h4 {
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

.center, .center-align {
  text-align: center;
}



@media only screen and (min-width: 0) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
/*
@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
*/

a {
  text-decoration: none;
}

.switch{
  display:flex;
  align-items: center;

  label{
    white-space:nowrap;
  }

  p{
    font-size:0.8em;
  }

  label + p,
  p + label{
    padding-left:20px;
  }
}

.search-box{
  background-color:#FFF;
  position:relative;
  float: right;
  width: 90%;
  transition: width 0.3s ease;

  &.focused{
    width:160%;
  }

  input[type=text],
  input[type=text]:focus{
    border:none;
    margin-bottom:0px;
    padding-left: 3em;
    width:calc(100% - 3em);
    @include removeBoxShadow;
  }

  i.material-icons{
    position: absolute;
    top: calc(50%);
    margin-top: -10px;
    left: 0.5em;
    font-size: 1.4em;
  }

  .search-box{
    margin-top: 10px;
  }
}

.card-list{
  text-align:center;

  .card{
    @include flex-center-center;

    a{
      display:block;
      width:100%;
    }

    .image-container{
      width:100%;
      height:80px;
      margin-top:25px;
      padding: 0px 30px;
      @include flex-center-center;
    }

    img{
      max-width: 100%;
      max-height: 100%;
      padding: 0px;
    }
    img[src*=svg]{
      max-width: 100%;
      height: 100%;
      padding: 30px;
    }

    strong{
      display:block;
      padding:15px 20px 25px 20px;
      font-weight:normal;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@mixin triangleUp($triangleSize, $triangleColor){
  width: 0;
  height: 0;
  border-left: $triangleSize solid transparent;
  border-right: $triangleSize solid transparent;
  border-bottom: $triangleSize solid $triangleColor;
}

.material-icons.person {
  color: #FAFAFA;
  font-size: 1.3rem;
  margin-left: 15px;
  vertical-align: text-bottom;
}

.account-dropdown{
  position: relative;
  margin-top: 8px;
  margin-right: 4px;
  cursor:pointer;

  &>span.username,
  &>span.username + i{
    color:#FFFFFF;
    vertical-align: middle;
    margin-right:10px;
  }

  &:hover>span.username,
  &:hover>span.username + i,
  &.open>span.username,
  &.open>span.username + i{
    color:$adistecPaleBlue;
  }
}

.floating-dropdown-menu{
  position: absolute;
  background-color: #FAFAFA;
  margin-top: 15px;
  display:none;
  z-index: 9;

  *{
    @include noselecthighlight;
  }

  ul,
  ul li{
    padding:0px;
    margin:0px;
  }

  li{

    &:not(:first-child){
      border-top:solid 1px #DDDDDD;
    }

    a,
    span[class]{
      display:block;
      padding:15px 20px;
    }

    .logoutbutton{
      background-color:#FFFFFF;

      &:hover{
        color:$adistecBlue;
      }
    }

    i,
    i + span{
      vertical-align: middle;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom:100%;
    right:10px;
    @include triangleUp(7px, #FAFAFA);
  }

  &.right{
    float:none;
    right: 4px;
  }
}
.open .floating-dropdown-menu{
  display:block;
}

.material-card + .material-card {
  margin-left: 35px;
}

.login-text + .login-text {
  margin-top: 35px;
}

.light, footer.page-footer .footer-copyright {
  font-weight: 300;
}

*, *:before, *:after {
  box-sizing: border-box !important;
}



ul.label-value-list{
  &,
  & li{
    margin:0px;
    padding:0px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
  }
  &>li>span:nth-child(2):before{
    content: '$';
  }
  & li span{
    float:left;
    width:50%;
    padding-bottom: 3px;
  }
  & li span + span{
    float:right;
    width:50%;
    text-align: right;
  }
}
.currency-column{
  &>span:before{
    content: '$';
  }
}

h5.title {
  margin: 10px 0px 10px 0px;
  font-weight: normal;
  font-size: 16px;
  color: #999;

  strong{
    margin-right: 10px;
  }

  & + .row{
    margin-top:20px;
  }

  .title-buttons{
    float:right;

    &.hidden{
      display:none;
    }

    .btn-coloredbg{
      @include buttonSizeSm;
    }
  }
}

.boolean-text{
  text-transform: uppercase;
  font-weight: 700;

  &.yes{
    color:$flatGreen;
  }
  &.no{
    color:#999;
  }
}



.divider-h{
  display: block;
  border-top: solid 1px #DDD;

  @include sm{
    margin-right: -20px;
    margin-bottom:20px;
  }

}

.quick-search-container{
  @include card_styled(#FFFFFF);
  padding:17px 20px 20px 20px;
  margin-bottom:20px;

  button[type=submit]{
    font-size:14px;
  }

  @include lg{
    margin-bottom:0px;
  }
}



.form-field-container{
  margin: 10px 0px;

  input,
  textarea{
    border: none;
    padding: 7px 0px;
    border-bottom: solid 1px #DDD;
    width: 100%;
    font-family: inherit;
  }

  textarea{
    border: solid 1px #DDD;
    padding:7px;
    @include border_radius(3px);
    margin-top:-5px;
    min-height:200px;
  }
}

.uppercase-label {
  @include uppercase_label;
}

header {
  img {
    /*padding: 15px 0px;*/
  }
  .customer-menu {
    float: right;
    color: #FFF;
    vertical-align: middle;
    padding: 24px 0px;

    &,
    i {
      vertical-align: middle;
    }
  }
}

.bottom-buttons-container{
  margin-bottom: 25px;

  &.stacked{
    float:left;
    width:100%;
    margin-top: 10px;

    button, a{
      display:block;
      width:100%;
      margin-top: 5px;
    }
  }

  .submit button{
    background-color: $flatGreen !important;

    &:hover{
      background-color: lighten($flatGreen, 2) !important;
    }
  }
}

.relative{
  position:relative;
}
.uppercase{
  text-transform: uppercase;
}
footer{
  background-color: #F5F5F5;
}


.empty-list-message{
  text-align: center;
  color: #999;
  border: solid 1px #E5E5E5;
  border-radius: 3px;
  padding: 25px 25px 15px 25px;

  h3{
    margin:0px;
  }

  .fa-search{
    padding-bottom:15px;
    font-size: 24px;
  }
}


/* TODO Incorporar posibiliidad de varios tamaños en componentes que generan su clase "col" dinamicamente
  La siguiente clase porporciona un workaround provisorio forzando al 100% cualquier columna en tamaños xsmall.
    Puede ubicarse en la propiedad "size" de los componentes React propietarios */
@include sm-only{
  .row .col.w100xs {
    width:100% !important;
  }
}

.panel-container{
  @include card_styled(#FFFFFF);
  float:left;
  width: 100%;
  padding: 15px 10px;

  &+&{
    margin-top:20px;
  }

  .panel-title-container{
    .title{
      font-size: $smFont;
      text-transform: uppercase;
      font-weight: 700;
      color: #666;

      @include md{
        //width:70%;
        font-size: $mdFont;
      }
    }

    .sidenote{
      float: right;
      font-size: $smFont;
      text-transform: uppercase;
      color: #999;

      @include md{
        //width:25%;
        font-size: $mdFont;
        text-align:right;
      }
    }

    .notice{
      display: block;
      margin: 15px 0px 10px 0px;
      color: #008fcb;
      @include border_radius(3px);
      font-size: $mdFont;
      font-weight: 700;
    }
  }
}

ul.multiple-selection-list{
  margin-top:5px;

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    &:checked + label{
      opacity: 1;
      background-color: $adistecBlue;
      color:#FFF;

      img,
      .aid-checkbox span:after {
        opacity: 1;
      }
    }
  }

  li{
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    @include sm-only{
      width:48%;
    }
  }

  label{
    @include noselecthighlight;
    cursor:pointer;
    background-color: #FFF;
    color:$adistecBlue;
    border:solid 2px $adistecBlue;
    width:100%;
    display:block;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    @include border_radius(20px);
  }

  &.image-list{
    height: 70px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    @include md{
      height: 120px;
    }

    li{
      margin-right: 3px;
      margin-bottom: 3px;
      position: relative;
      width:auto;
    }

    label{
      @include border_radius(0px);
      width:50px;
      height:50px;
      @include flex-center-center;
      padding:0px;

      @include md{
        width:100px;
        height:100px;
      }

      img{
        max-width:100%;
        max-height:100%;
        opacity: 0.70;
      }

      .aid-checkbox{
        width: 15px;
        position: absolute;
        top: 5px;
        right: 5px;

        span {
          width: 15px;
          height: 15px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.4);
          background-color: #FFF;
          &:after {
            content: '';
            width: 9px;
            height: 6px;
            position: absolute;
            top: 4px;
            left: 3px;
            border: 3px solid #666;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

ul.single-selection-list{
  margin-top:5px;

  input[type=radio] {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    & + label{
      opacity: 0.4;
    }

    &:not([disabled]) + label:hover{
      opacity: 0.85;
      cursor:pointer;
    }

    &:checked + label{
      opacity: 1;

      &:before{
        content: '';
        width: 10px;
        height: 6px;
        position: absolute;
        top: 50%;
        left: 8px;
        border: 3px solid #FFF;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 1;
        transform: rotate(-45deg);
        margin-top: -4px;
      }
    }
  }

  label{
    @include noselecthighlight;
    background-color: $adistecBlue;
    width:100%;
    display:block;
    text-align: center;
    color:white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    position:relative;
  }

  li{
    /*State colors*/
    &[data-state='requested'] label{
      background-color:$flatRed;
    }
    &[data-state='inprogress'] label{
      background-color:$flatOrange;
    }
    &[data-state='onhold'] label{
      background-color:$flatLightBlue;
    }
    &[data-state='cancelled'] label{
      background-color:$flatGrey;
    }
    &[data-state='done'] label{
      background-color:$flatGreen;
    }
  }

  &.stacked{
    li{
      display:block;
      margin-top: 4px;
    }

  }
}

.csscheckbox{

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    &:checked + label{
      opacity: 1;
      background-color: $adistecBlue;
      color:#FFF;

      .aid-checkbox{
        span{
          box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 0px 0px 2px rgba(0,143,203,1);
         &:after {
           opacity: 1;
         }
        }
      }
    }
  }

  .aid-checkbox{
    text-align: center;

    span {
      width: 15px;
      height: 15px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 0px 0px 1px rgba(0,143,203,0.5);
      background-color: #FFF;
      &:after {
        content: '';
        width: 9px;
        height: 6px;
        position: absolute;
        top: 4px;
        left: 3px;
        border: 3px solid #666;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
    }
  }
}


ul.url-list{
  margin-top:5px;

  li + li{
    border-top: solid 1px #EEE;
  }

  li {
    background-color: #F5F5F5;
    padding: 4px 14px;
    position: relative;

    strong{
      display:inline-block;
      width:115px;
    }


    span{
      display:block;
      width: 85%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}





.log-list{
  &.small{
    font-size:$smFont;
  }

  strong{
    color:$adistecLightBlue;
  }

  li{
    padding: 3px 0px 3px 0px;

    &:not(:first-child){
      border-top: solid 1px #F5F5F5;
    }
  }
}

.adistec-select-field{
  height: 75px !important;
}


.adistec-password-container{
  position:relative;

  &>div{
    position:relative !important;

    &.col{
      width:100% !important;
      padding: 0rem !important;
      padding-left: 22px !important;
    }

  }
  .input-password__level{
    position: absolute !important;
    width: 70px;
    top: 35px;
    right: 10px;
  }

  i{
    position: absolute !important;
    top: 31px;
    left: 10px;
    font-size: 17px;
    color: #999;
    z-index:9;
    cursor:default;
  }
}



.w100{
  width:100%;
}

.btn-block{
  display: block;
  width:100%;
}

.tint-row{
  background-color: #FFE1E4 !important;
}

.quill {
  .ql-container {
    min-height: 140px;
  }
}